 <%- include("templante/encabezado.ejs", {titulo:"Respuesta"})%>

<div>Los datos del formulario son: </div>
<div class="alert alert-sucess"><%= nombre%></div>
<div class="alert alert-sucess"><%= edad%>></div>

 <%- include("templante/pie.ejs")%>